.navbar-dark .navbar-nav .nav-link {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navbar-dark .navbar-nav .nav-link {
    position: relative;
    font-family: OSWALD;
    color: white;
    padding: 1.2rem 1.5rem;
    font-size: initial;
  }
    .navbar-dark .navbar-nav .nav-link::after {
      content: "";
      position: absolute;
      top: calc(100% - 2px);
      border-bottom: 2px solid #166fad;
      left: 50%;
      right: 50%;
      transition: all 0.3s ease; }
    .navbar-dark .navbar-nav .nav-link:hover::after {
      left: 0;
      right: 0;
      transition: all 0.3s ease; }


/* dividers */

hr.goverment {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.goverment:after {
    content: "Goverment";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}

hr.finance {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.finance:after {
    content: "Finance";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}

/*Crypto*/

hr.crypto {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.crypto:after {
    content: "Crypto";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}


hr.health {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.health:after {
    content: "Health";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}

hr.sports {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.sports:after {
    content: "Sports";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}


hr.tech{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.tech:after {
    content: "Tech";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}


hr.reuters{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.reuters:after {
    content: "Reuters";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}

hr.news{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
hr.news:after {
    content: "More News";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #166FAD;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}


/*=============================================*/

/*Social Media*/
.fa-facebook{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}
.fa-facebook:hover {
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.fa-twitter {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

.fa-twitter:hover{
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.fa-instagram{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

.fa-instagram:hover{
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.footer__social-link-container{
  margin: 0 auto;
  width: 180px;
  padding-top: 10px;
}

/*Date Post Style*/
.date-post{
    font-size: 0.6em;
    color: grey;
    font-weight: bold;
    padding-top: 15px;
    float: left;
}

.date-post-sidebar {
    font-size: 0.3em;
    color: grey;
    font-weight: bold;
    padding-top: 42px;
    float: right;
}

/*Sunscribe section*/

section {
    padding: 100px 0;
    text-align: center;
}
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
button.btn {
    width: 100%;
    height: 60px;
    border-radius: 15px;
}
.promise {
    color: #999;
}

/*box*/

.mvp-main-box {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    max-width: 850px;
}

#mvp-content-body {
    box-shadow: 0 0 5px 5px #888;
    box-sizing: border-box;
    width: 100%;
}


.heather-img{
  width: 100%;
}

#mvp-content-main{
  padding: 30px;
  width: 100%;

}

/*form*/

.container-box
{
  padding:20px; 
}


/*Button*/

.btn-second{
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

/*Promo Container*/
.promo-container{
 border-radius: 25px;
 border: 2px solid #091F40;
 padding: 20px; 
 width: 100%;
 height: auto;
}


/*Table Responsive*/

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
    width: 100%;
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
 
  #no-more-tables td { 
    /* Behave  like a"row" */
    border: none;
    position: inherit;
    padding-left: 0%;
    white-space: normal;
    text-align: center;
    margin: 10px auto;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}

/*clock*/

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #091F40;
  display: inline-block;
}

#clockdiv div > span{
  padding: 10px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

/*image around text*/

.wrapper {
  column-count: 2;
  column-gap: 0px;
  padding: 0px;
}

.star {
  float: left;
  width: 100%;
}

/*changing bullet*/

/* Use the following CSS code if you want to have a class per icon */

ul { 
  padding:0px; 
  list-style:none; 
}

@media only screen and (max-width: 400px) {
  ul { 
  padding:0px; 
  list-style:none; 
}
}

/*Packag list Bullets*/
.fa-check{   
    margin:0 5px 0 0px;
    color: #00816A;
    display: flex;
}

/*Package Titles*/

.pac-title{
  text-align: center; 
  text-transform: uppercase; 
  font-size: 35px; 
  color: #091F40; 
  font-weight: bold;
  padding: 20px;
  text-decoration: underline;
}

/*Pack Title responsive*/

@media only screen and (max-width: 800px) {

.pack-titles{
  text-align: center;
}
}

/*Line Through*/

.strikeout {
  font-size: 22px;
  color: #000;
  position: relative;
  display: inline-block;
}

.strikeout:after
/*.strikeout:before*/ {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
}
/*.strikeout:before {
  transform: rotate(20deg);
}*/
.strikeout:after {
  transform: rotate(-20deg);
}


/*Header*/

.btn-login{
  color: #fff;
  background-color: #166FAD;
  border-color: #007bff;
  float: right;
  margin: 5px 25px;
}

/*Posts Titles*/

.post-title{
    font-size: 25px;
    color: #000;
    font-family: OSWALD;
    line-height: 1;
}

/*post Pargraphs*/

.posts-paragraph{
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-family: 'Ro';
  font-size: 18px;
}

/*Post Containers*/

.article-featured__main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}


.article-featured__main-image_Left_Side {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

/*Text Over Post Images*/

.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.8;
    margin: -177px 20px 0px;
    position: absolute;
    padding: 5px;
  }



.article-featured__main-category {
    color: #166fad;
    font-size: 13px;
    text-align: right;
}


.thumbnail{
    position:relative;

}

/*post box Image*/

.box-img{
  padding-right: 30px;
}


/*footer*/


footer {
    margin-top: 6%;
    background-color: #212428;
    padding: 5% 0;
    color: #fff;
}

.tb-border-white {
    border-top: 1px solid #fff;
    content: "";
    padding: 0;
}

.tb-border-white::before {
    border-top: 3px solid #fff;
    content: "";
    font-size: 1px;
    height: 1px;
    position: absolute;
    top: 3;
    width: 10%;
}

.mainfootrow {
    color: #999;
    padding: 10px;
    text-align: left;
}

.datetrader {
    font-family: 'OSWALD',sans-serif;
    font-size: 17px;
    line-height: 1.2;
}

.mainfootrow h3 {
    font-family: 'OSWALD',sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: #fff;
}

.footheading {
    padding-top: 3%;
}

.footfooter {
    margin-top: 5%;

}

.footer-text{
  font-size: 15px;
}


