body{
    padding-top: 140px;
	position:relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p{

	font-size:15px;
}
a{
 	-webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

  -webkit-transition: 0.1s ease-out;
  -moz-transition:  0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
 }
 a:active, a:hover,a:focus, a:active{
 	outline:none;
 }

 li,li:focus,li:hover, li:visited{
 	outline:none;
 	font-weight:500;
 	font-size:15px;
 }
button,select,input, .btn, .form-control{
    
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control{
	color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-control:focus{
	color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* === Header ===*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark {
    background-color: #000000 !important;
    padding: 10px 0px 0px;
}
/*  Form Inputs */
.form-inline{
	padding-top:10px;
	float:right;
}
.form-inline .form-control{
	max-width:150px;
}
header .form-inline .checkbox{
display:block;
color:#fff;
padding-bottom:10px;
padding-top:10px;
}
header .form-inline .btn-form{
	vertical-align:top;
}
header .form-inline a{
	color:#fff;
}
header .learn-more-search{
	padding-top:20px;
}
header .learn-more-search a{
	color:#fff;
	text-decoration:none;
}
header .learn-more-search span{
	color:#fff;
	padding-left:10px;
	cursor:pointer;
}
header .header-second-nav{
	background-color:#fff;
	border-top:4px solid #00adee;
	box-shadow: 0 2px 5px 0px #888;
	/*border-bottom:4px solid #091F40;*/
}
header .nav-pills{
	margin:0px auto;
}
header .nav-pills>li>a{
	border-radius:3px;
	text-transform:uppercase;
	padding:20px 10px;
	border-radius:0px;
	color:#000;
	font-weight:500;
	font-size:14px;
	/*font-weight:bold*/
}
header .nav-pills>li.active>a, header .nav-pills>li.active>a:hover{
	background-color:#00adee;

}
header .login{
	vertical-align: top!important;
}
header .login p{
    margin-right: 15px;
    vertical-align: top;
    padding-top: 6px;
    color: #fff;
    text-transform: uppercase;
}
/*=============================================*/
/* Wrap */
.wrap{
	margin: 0 auto;
    max-width: 960px;
    width: 100%;
        overflow: hidden;
}
/* Main Section */
.main-section{
	/*background-color:#091F40;*/
	/*color:#fff;*/
	display: inline-block;
    width: 100%;
    padding: 10px 0px 30px;
}
.main-section .man-bio{
	margin-right:10px;
	float:left;
}
.main-section .headlines{
	border-bottom:4px solid #00adee;
	padding-bottom:4px;
	display:inline-block;
}
.main-section .box-right-text{
	border-radius:4px;
	padding:10px 18px;
	background-color: #f5f6f7;
	color:#333;
	border:1px solid #d8d3d3;
}
.main-section .box-right-text h3{
	font-size:20px;
	margin-top:8px;
}
.main-section .box-right-text a{
	text-decoration:underline;
	/*color:#fff;*/
	font-weight:bold;
}
.main-section .btn-step{
	font-size:18px;
	background-color:#00adee;
	text-transform:uppercase;
}
/*=============================================*/

/*Research */
.research-content{
	min-height:320px;
	font-weight:500;
}
.research-content .download-now{
	font-size:18px;
	margin-top:40px;
}
/* Research END  */
/*  SUpport CSS*/

/*  END SUpport CSS*/

/* Myprogression */
.block-box{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#f5f6f7;
	padding:20px 15px;
	max-width:700px;
	border:1px solid #d8d3d3;
}
.block-box strong{color:#000;}
.block-box ul{
	list-style:none;
}
.block-box ul li{
	font-size:16px;
	padding:8px 0px;
}

.already-italic{
	margin-bottom:20px;
	display:block;
}
.table-broker{
	margin-top:30px;
	text-align:center;
}
table thead>tr{
	border-bottom:3px solid #00adee;
}
.table-broker thead>tr>th{
	text-align:center;
}
.table-broker tbody>tr>td{
	width:150px;
}
.table-broker .tbl-content img{
margin-bottom:10px;
margin-top:10px;
}
.table-broker .tbl-content p{
	color:#555;
    font-weight: 500;
}
.table-broker .tbl-content 
.show-details{
	cursor:pointer;
	color:#000;
}
.table-broker .btn{
	text-transform:uppercase;
}
.table-broker .wf-space{
	margin-top:25px!important;
}
.table-broker .single-text{
	margin-top:20px;
}
.view-parent .view-more{
	text-decoration:none;
	font-weight:bold;
}
.open-acc,.open-acc:hover, 
.review-details,
 .review-details:hover{
	display:block;
	text-decoration:none;
	font-weight:bold;
}

/* Brokerages */
.box-overall{
	margin-top:40px;
}
.box-overall .box1{
	border:2px solid #ddd;
	padding:35px;
	text-align:center;
	margin-bottom:40px;
}
.box-overall .box1{
	font-weight:500;
}
.box1 .cash-bonus{
	margin-top:20px;
}
.box1 .btn-open-acc{
	margin-top:5px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
}
.box1 h3{
	margin-top:5px;
}
.special-margin{
	margin-top:58px;
}
/*=============================================*/

/*Social Media*/
.fa-facebook{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}
.fa-facebook:hover {
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.fa-twitter {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

.fa-twitter:hover{
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.fa-instagram{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

.fa-instagram:hover{
    cursor: pointer;
    background: #8b9dc3;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.footer__social-link-container{
  margin: 0 auto;
  width: 180px;
  padding-top: 10px;
}


/*=============================================*/




/*Footer  */

.pb-5, .py-5 {
    padding-bottom: 5rem!important;
}
.footer__social-link-container {
    margin: 0 auto;
    width: 180px;
    padding-top: 10px;
}
footer{
	display: block;
	text-align:center;
}
footer img{
	text-align:center;
    vertical-align: middle;
    border-style: none;
}

/*================================== */

/* MEDIA */
@media screen and (max-width:768px){
	.login-mobile{
		color:#000;
	}
	.toggle-top-m{
		padding-top:0px;
	    margin-right: 0;
	}
	.main-contents p, .main-contents h3{
		padding:0 10px;
	}
	.block-box ul{padding-left:0px;}
	.page-header{
		margin-top:10px;
	}
	.fixed-top{
		position:relative;
	}
	.overflow-table{
		overflow-x:auto;
	}
	.table{
		overflow-x:auto;
	}
	body{
		padding:0;
	}
	.form-inline{
		float:none;
		padding:10px;
	}
	.form-inline .form-control{
		max-width:130px;
	}
	.form-inline .form-group{
		display:inline-block;
	}
	.right-login{
		float:none!important;
	}
	header .login{
		width:100%;
	}
	.navbar-toggle{
	}
	.navbar-toggle .icon-bar{
		background-color:#00adee;
	}
	header #navbar{
		padding:0px 2px;
	}
	header .nav-pills{
    width: 100%;
    padding: 0;
	}
	header .nav-pills>li{
    float: none;
    text-align: center;
    width: 100%;
	}

}

@media screen and (min-width:768px){
	.form-inline .checkbox input[type=checkbox],
	 .form-inline .radio input[type=radio]{
	 	vertical-align: top;
	 }

}