body{
    /*padding-top: 140px;*/
	position:relative;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
        font-family: OSWALD;
        font-size:14px;
}

p{
	font-weight:normal;
    font-family: Open Sans;
    /*white-space: pre-line;*/
    font-weight: 400;
}
a{
 	-webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

	-webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

  -webkit-transition: 0.1s ease-out;
  -moz-transition:  0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
 }
 a:active, a:hover,a:focus, a:active{
 	outline:none;
 }

 li,li:focus,li:hover, li:visited{
 	outline:none;
 	font-weight:500;
 	font-size:15px;
 }
button,select,input, .btn, .form-control{
    
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
form{
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-size:15px;

}
.form-control{
	color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-control:focus{
	color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* === Header ===*/
.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark {
    background-color: #000000 !important;
    padding: 10px 0px 0px;
}
/*  Form Inputs */
.form-inline{
	padding-top:10px;
	float:right;
}
.form-inline .form-control{
	max-width:150px;
}
header .form-inline .checkbox{
display:block;
color:#fff;
padding-bottom:10px;
padding-top:10px;
}
header .form-inline .btn-form{
	vertical-align:top;
}
header .form-inline a{
	color:#fff;
}
header .learn-more-search{
	padding-top:20px;
}
header .learn-more-search a{
	color:#fff;
	text-decoration:none;
}
header .learn-more-search span{
	color:#fff;
	padding-left:10px;
	cursor:pointer;
}
header .header-second-nav{
	background-color:#fff;
	border-top:4px solid #00adee;

	border-bottom: 1px solid #f5f5f5;
	/*box-shadow: 0 2px 5px 0px #888;*/
	/*border-bottom:4px solid #091F40;*/
}
header .nav-pills{
	margin:0px auto;
}
header .nav-pills>li>a{
	border-radius:3px;
	text-transform:uppercase;
	padding:20px 10px;
	border-radius:0px;
	color:#000;
	font-weight:500;
	font-size:18px;
	/*font-weight:bold*/
}
header .nav-pills>li.active>a, header .nav-pills>li.active>a:hover{
	background-color:#00adee;

}
header .login{
	vertical-align: top!important;
}
header .login p{
    margin-right: 15px;
    vertical-align: top;
    padding-top: 6px;
    color: #fff;
    text-transform: uppercase;
}
/*=============================================*/
/* Wrap */
.wrap{
	margin: 0 auto;
    max-width: 960px;
    width: 100%;
        overflow: hidden;
}
/* Main Section */
.main-section{
	/*background-color:#091F40;*/
	/*color:#fff;*/
	display: inline-block;
    width: 100%;
    padding: 10px 0px 0px;
}
.main-section .man-bio{
	margin-right:10px;
	float:left;
}
.headlines{
	border-bottom:4px solid #00adee;
	padding-bottom:4px;
	display:inline-block;
	text-transform:uppercase;
}
.main-section .box-right-text{
	border-radius:4px;
	padding:10px 18px;
	background-color: #f9f9f9;
	color:#333;
	border:1px solid #d8d3d3;
	margin-bottom:20px;
}
.main-section .box-right-text h3{
	font-size:20px;
	margin-top:8px;
}
.main-section .box-right-text a{
	/*color:#fff;*/
	font-weight:bold;
}
.
.main-section .btn-step{
	font-size:18px;
	background-color:#00adee;
	text-transform:uppercase;
}
.main-section .highcharts-background{
	fill:transparent;
}
.main-section .navigation-tabs .nav-tabs li.active{
}
.main-section .navigation-tabs .nav-tabs{
	padding-bottom:20px;
}
.main-section .navigation-tabs .nav-tabs li a{
	background-color:transparent;
	/*padding-right:6px;
	padding-left:2px;*/
	text-decoration:none;
	color:#555;
	border-radius:0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size:15px;
}
.main-section .navigation-tabs
 .nav-tabs li a:hover, 
 .main-section .navigation-tabs
 .nav-tabs li a:focus,
 .main-section .navigation-tabs
 .nav-tabs li a:active{
border-color:transparent;
}
.main-section .navigation-tabs .nav-tabs li.active a{
	background-color:transparent;
	border-bottom:2px solid #00adee;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    text-decoration:none;
}
.box-right .tradingbutton a{
	width:100%;
	font-size:20px;
	background-color:#00adee;
	border-color:#00adee;
	padding:12px;
}
.box-right .tradingbutton a:hover{
	background-color:#069cd4;

}

/* Carousel CAPTION */
.carousel-caption{
	background-color:rgba(0, 173, 238, 0.83);
}
/*Banner ads RIGHT */
.banner-ads img{
	margin-top:15px;
}
/* FLAGS DESIGGN */
.table-broker{
	border:1px solid #ddd;
	margin:20px auto;
	padding:20px;
}
.flags-full{
    width: 16px;
    height: 15px;
    background-image: url(https://i-invdn-com.akamaized.net/ce_flags_v22.png);
    background-repeat: no-repeat;
    padding: 0;
    display: inline-block;
}
.flag-us{
	background-position: -17px -1751px;
}
/* -- END FLAGS == */
.card-lefts .carousel a{
color:#fff;
}
.card-left-mini{
  min-height: 180px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position:relative;
}
.card{
	margin-top:65px;
	display:block;
	color:#000;
	text-decoration:none;
}
.card:hover{
	color:#555;
	text-decoration:none;
}

.card-title-top{
	position:absolute;
	bottom:0;
	left:0px;
	color:#fff;
	background-color:rgba(0, 173, 238, 0.83);
	padding:10px;
	display:block;
	width:100%;
	font-size:18px;
}
h4.card-title {
	    white-space: nowrap;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid #000000; */
    height: 20px;
}
.card-title-top{
	    white-space: nowrap;
    width: 222px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.read-more{padding:40px 0px;
	font-weight:600;
    display: inline-block;
    width: 100%;color:#00adee;cursor:pointer;}
/* SLIDER IMAGE */
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
/*=============================================*/
/* Other News */
.other-news{
	padding-bottom:0px;
}
.other-news .finance h3{
	margin:0px;
	padding-bottom:0px;
}
.other-news .finance .card{
	margin-top:20px;
}
.sports-news{
	margin-top:40px;
 background: url('../images/sport.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position:relative;
  height:450px;
}
.health, .tech{
margin-top:0px;
 background: url('../images/apricot.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position:relative;
  height:550px;
}
.tech{
 background: none;

}
.sports-news{
	color:#fff;
}
.sports-news h3,.sports-news a, .sports-news h4{
	color:#fff;
} 
.sports-news a:hover{
	color:#eee;
}
/* Health */
.health .card-body{
	background-color:#fff;
	padding:20px;
}
.health .card-body h4{
	margin-top:0px;
}
/*=============================================*/
/* Section BROKERS TAB*/
.brokers-tabs .card{
	margin-top:50px;
}
.brokers-tabs{
	padding:40px 0px 100px;
}
.brokers-tabs .nav-tabs {
	margin-top:10px;
}
.brokers-tabs .nav-tabs li a{
	color:#000;
}
.brokers-tabs .nav-tabs li.active a{
	background-color:#00adee;
	color:#fff;
}
.brokers-tabs .nav-tabs li a:hover{
	background-color:#00adee;
	color:#fff;
}
/* Section BROKERS TAB*/
/*=============================================*/
/*  FINANCE*/
.content-right .card{
	margin-top:10px;
}
.content-right .card a{
 color:#000;
 text-decoration:none;
}
.content-right .card a:focus,
.content-right .card a:hover{
	text-decoration:none;
}
.finances .card{
	margin-top:10px;
}
/* Posts */
.posts .card{
	margin-top:10px;
}
.posts .card-text{
	margin-top:20px;
}
.posts .card-body p{
	color:#000;
	font-size:18px;
	line-height:1.6em;
}
.page-writer {
	margin-bottom:40px;
}
 .page-writer .user-circle{
	    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.posts .twitt-back{
    background-color: #55acee;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border-radius: 30px;
}
.posts .faceback{
	 background-color: #3b5998;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border-radius: 30px;
}
.posts .linkedinback{
	 background-color: #3b5998;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border-radius: 30px;
}
.posts .pinterest{
	 background-color: #bd081c;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    border-radius: 30px;
}

.posts .twitt-back i,
.posts .faceback i,
.posts .linkedinback i,
.posts .pinterest i
{
    vertical-align: middle;
    font-size: 18px;
    line-height: 2em;
    color: #fff;
}
/*=============================================*/

/*Social Media*/
footer .fa-facebook{
  cursor: pointer;
  background: #fff;
  color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}
footer .fa-facebook:hover {
    cursor: pointer;
    background: #3b5998;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

footer .fa-twitter {
  cursor: pointer;
  background: #fff;
  color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

footer .fa-twitter:hover{
    cursor: pointer;
    background: #55acee;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

footer .fa-instagram{
  cursor: pointer;
  background:#fff;
  color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  float: left;
  font-size: 20px !important;
  margin-left: 10px;
  padding-top: 10px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
}

footer .fa-instagram:hover{
    cursor: pointer;
   background:  
   
   linear-gradient( #400080, transparent), 
  
  
   
 linear-gradient( 
   200deg, #d047d1, #ff0000,    #ffff00);
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px !important;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
}

.footer__social-link-container{
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  text-align:left;
}
.footer__social-link-container a{
	display:inline-block;
}


/*=============================================*/




/*Footer  */

.pb-5, .py-5 {
    padding-bottom: 5rem!important;
}

footer.bg-dark{
	display: block;
	text-align:center;
	padding-top:40px;
	border-top:3px solid #00adee;
}
footer .menu-footer{
	margin:10px auto;
}
footer img{
	text-align:center;
    vertical-align: middle;
    border-style: none;
}
footer .disclaimer p,
footer .disclaimer h4{
	color:#fff;
}
footer .nav-pills li>a{
	color:#00adee;
	font-size:16px;
}
footer .map-contact{
	padding-top:40px;
}

/*================================== */
.page-header{
		margin-top:10px;

	}
	.page-title{
		margin-bottom:40px;
		font-size: 5vw;
		text-transform:none;
	}
/* MEDIA */
@media screen and (max-width:768px){
	.login-mobile{
		color:#000;
	}
	.toggle-top-m{
		padding-top:0px;
	    margin-right: 0;
	}
	.main-contents p, .main-contents h3{
		padding:0 10px;
	}
	.block-box ul{padding-left:0px;}
	.page-header{
		margin-top:10px;
	}
	.fixed-top{
		position:relative;
	}
	.overflow-table{
		overflow-x:auto;
	}
	.table{
		overflow-x:auto;
	}
	body{
		padding:0;
	}
	.form-inline{
		float:none;
		padding:10px;
	}
	.form-inline .form-control{
		max-width:130px;
	}
	.form-inline .form-group{
		display:inline-block;
	}
	.right-login{
		float:none!important;
	}
	header .login{
		width:100%;
	}
	.navbar-toggle{
	}
	.navbar-toggle .icon-bar{
		background-color:#00adee;
	}
	header #navbar{
		padding:0px 2px;
	}
	header .nav-pills{
    width: 100%;
    padding: 0;
    margin:auto;
    text-align:center;
	}
	header .nav-pills>li{
    float: none;
    text-align: center;
    width: 100%;
	}

}

@media screen and (min-width:768px){
	.form-inline .checkbox input[type=checkbox],
	 .form-inline .radio input[type=radio]{
	 	vertical-align: top;
	 }

}


@media (min-width:768px) and (max-width:991px) {
    .card-list:nth-child(3n+1) {
    clear:left;
    }
}
@media (min-width:992px) and (max-width:1200px) {
  .card-list:nth-child(2n+1) {
   clear:left; 
  }
}
@media (min-width:1200px) {
  .card-list:nth-child(3n+1) {
   clear:left; 
  } 
}