/*

author:Daniel Neshkoski; 
Theme: Money News;
date: 06.17.2018;

 */
/*@font-face {
    font-family: Galano-Light;
    src: url('../fonts/Galano Grotesque.otf');
}
*/


 body{
 	font-size:15px;
 	 font-family: 'Proxima Nova', Georgia, sans-serif;
 }
 p{
 	color:#37383c;
 	font-size:15px;
 }
 a{
 	-webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

  -webkit-transition: 0.1s ease-out;
  -moz-transition:  0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
 }
 a:active, a:hover,a:focus, a:active{
 	outline:none;
 }

 li,li:focus,li:hover, li:visited{
 	outline:none;
 }
select, input{
	padding:8px 20px;
	height:100%;
	outline:none;
	background-color:#fff;
	box-shadow:none;
}
input:focus, input:hover, input:active{
	border-color:#326A26!important;
	box-shadow:none!important;
}

/* Modal PopUp */
 .reveal-overlay.fade-in {
      transition-duration: 0.25s;
    }
.modal-pop{
	padding:30px 0px;
	overflow-x:hidden;

}
.modal-pop form{
	margin-top:30px;
}
.modal-popup{
	max-width: 500px;
    margin: auto;
}
.modal-popup form .btn-continue{
max-width:100%;
width:100%;
}
.modal-popup .google{
	border-color:#8b8c8f;
	color:#000;
	font-weight:bold;
	margin-top:20px;
	text-transform:uppercase;
	font-size:14px;
	min-width:100%;
	border-radius:4px;
	padding:10px 0px;
	font-weight:bold;
	    margin-right: 0;
}
.inline-or-spin{
	margin:20px auto;
}
.fancy {
  line-height: 0.2;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #8b8c8f;
  top: 0;
  width: 200px;
}
.fancy span:before {
  right: 100%;
  margin-right: 25px;
}
.fancy span:after {
  left: 100%;
  margin-left: 25px;
}

.modal-popup .google span{
	margin:0px 35px;
}
.modal-popup h4{
	padding-top:20px;
}
.modal-popup .google img{
	vertical-align:middle;
}
.modal-popup .google:hover{
	background-color:transparent;
	color:#555;
	border-color:#8b8c8f;
}
 /* end Modal Popup */
/* == HEADER TOP BAR ===*/
.top-bar, .top-bar ul{
	background-color:#fff;
}
header .top-bar-left .menu>li>a{
padding-top:0.2rem!important;
}
header.main-nav .menu>li>a{
	padding:1.0rem 1rem 0;
	color:#000;
}
header.main-nav .menu>li{
	vertical-align: top;
    font-weight: bold;
}
/* === == END HEADER= ==== */
/*===  Main Section===*/
.main-section .callout{
	border: 1px solid #ebe1e8;
}
.row .btn-join-full{
	border:0;
	background-color:#326A26;
	color:#fff;
	font-weight:bold;
	margin-top:20px;
	text-transform:uppercase;
	font-size:15px;
	padding:12px;
	min-width:180px;
	border-radius:0px;
}
.row .btn-join-full:hover{
	background-color:rgba(50, 106, 38, 0.82);
	color:#fff;
}
.row .btn-join{
	border-color:#326A26;
	color:#326A26;
	font-weight:bold;
	margin-top:20px;
	text-transform:uppercase;
	font-size:16px;
	min-width:180px;
	border-radius:8px;
}
.row .btn-join:hover{
	/*border:0px;*/
	border-color:#326A26;
	color:#fff;
	background-color:#326A26;
}
.boxes-top{
	margin-top:30px;
}
.boxes-top .callout{
	/*border-radius:10px;*/
	border:0px;
    /*border:1px solid #ebe1e8;*/
}
.boxes-top a.card-deals{
	background-image: url('../images/card-deals-new.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 70%;
    border:1px solid rgb(235, 225, 232);
    background-position: center;
    background-color: #fff;
}
.boxes-top a.earn-money{
	background-image: url('../images/earn-more-money.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 70%;
    background-size: 100%;
    border:1px solid rgb(235, 225, 232);
    background-position: center;
    background-color: #a8c8b9;
}
.boxes-top a.invest-more{
	background-image: url('../images/invest-more-img.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 70%;
    background-size: 90%;
    border: 1px solid rgb(235, 225, 232);
    background-position: center;
    background-color: #faf8f4;
}

.boxes-top a{
	display:inline-block;
}

.boxes-top a:hover .overlay{
	opacity:1;
	transition: opacity .5s ease;
    border-radius: 50%;
}
.boxes-top p.lead{
	margin-top:20px;
}
.boxes-top a:hover p.lead{
	color:#1B185D;
}
.boxes-top .callout .overlay-img{
	position:relative;
}
hr{
	border-color:rgba(27, 24, 93, 0.050980392156862744);
}
.boxes-top .overlay{
opacity:0;
position:absolute;
top:0;
left:0;
background-color:rgba(38, 41, 38, 0.43);
height:250px;
z-index:2;
width:100%;
}
/* end Main SECTION */

/* Form Card */

.form-card{
	padding-top: 35px;
    padding-bottom: 35px;
	background-image:url('../images/what-the-hex.png');
	background-position: center;
    width: 100%;
    border-top: 1px solid #ededed;
}
.form-card .title-cards h2{
	padding-bottom:30px;
}
.form-card .form-row{
	margin-top:30px;
}
.form-card .form-row .callout{
	 width: 500px;
	 max-width:100%;
    margin: auto;
border-radius: 8px;
    padding: 35px 25px 20px 25px;
    border: 0px solid rgb(242, 242, 246);
    background-color: #fefefe;
    box-shadow: 1px 2px 10px 0px rgb(148, 148, 148);
}

/* Form Card */


/*= ==== Discover Section ==*/
.discover-section{
	margin:30px auto;
	padding:30px 0px;
}
.discover-section .img-question{
	border:1px solid #eee;
    border-radius: 10px;
}
.discover-section .travel-body-text{
	padding-top:60px;
}
/*= ==== Discover Section ==*/

/*=== BEst Cards == */
.best-cards{
	background-color:#eeeeee;
	padding:40px 0px;
	margin:0px auto;
}
.best-cards .title-cards h2{
	padding-bottom:40px;
	font-weight:bold;
}
.best-cards .full-small-decks{
	margin-top:30px;
}
.best-cards .full-small-decks .column{
	margin-bottom:20px;
}
.best-cards .full-small-decks .column .thumbnail{
	margin-bottom:0px;
	box-shadow:none;
	border:2px solid #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.best-cards .full-small-decks .column .thumbnail:hover{
	box-shadow:none;

	/*border:1px solid #1B185D;*/
}
.best-cards .full-small-decks a{
display:block;
}
.best-cards .full-small-decks a:hover{
	/*box-shadow:0 0 6px 1px rgba(27, 24, 93, 0.28);*/
 	 border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:rgba(255, 255, 255, 0.45);
}
.best-cards .full-small-decks a:hover .overlay{
	opacity:1;
}
.overlay-deck{
	position:relative;
}
.full-small-decks .overlay{
opacity:0;
position:absolute;
top:0;
left:0;
background-color:rgba(38, 41, 38, 0.13);
height:100%;
z-index:2;
width:100%;
 border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.best-cards .full-small-decks p.lead{
	background-color:#fff;
	padding:12px 12px 18px;
	font-size:16px;
	font-weight:700;
	color:#000;
	margin-bottom:0px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.best-cards .full-small-decks .column a:hover p.lead{
	color:#1B185D;
}
/* Full small decks */
.full-small-decks .media-object
 .media-object-section{
 	vertical-align: middle;
 }
 .full-small-decks .media-object{
    background-color: #fff;
    border-radius: 10px;
    border: 0px solid #c1c1c1;
    padding: 30px 35px;
    box-shadow:1px 2px 10px 0px rgb(148, 148, 148);
 }
 .full-small-decks .media-object h5,
 .full-small-decks .media-object p{
 	margin-bottom:0px;
 }
/* Full small decks END GROUP 2 */

/* Footer Copyright */
.copyrights p a{
	padding-right:10px;
}
.disclaimer{
    max-width: 100%;
    padding: 35px 25px 20px 25px;
    background-color: #eeeeee;
margin:40px auto;
    border-top: 1px solid #cecaca;
        border-bottom: 1px solid #cecaca;
}
.disclaimer h3{
	color:#1585cf;
}
.disclaimer p{
	font-size:14px;
	color:#555;
	margin-bottom:0;
}
.disclaimer .map-contact{
	margin-top:50px;
}
.disclaimer .map-contact h6{
	color:#555;
}
.disclaimer .menu-footer li a{
	padding-left:0;
	padding-right:3rem;
}
/* Posts */
.posts{
	padding-top:20px;
}
/* LetterHead  */
.letter-head-parent{
	padding-top:30px;
}
.letter-head-parent .letter-head-border{
	border:2px solid #eee;box-shadow:1px 1px 1px #ddd;
}
/* === End Best cards === */
@media screen and (max-width:640px){
	/*  Menu mobile*/
header.main-nav .menu>li{
		display:block;
	}
	.discover-section .travel-body-text{
		padding-top:0px;
		text-align: center;
	}
	.discover-section .img-question{
		width:100%;
	}
}
@media screen and (min-width:640px) and (max-width:1024px){
	.best-cards .full-small-decks a{
		min-height:300px;
	}
}
@media screen and (max-width:768px){
	.main-nav{
		padding-right:0;
		padding-left:0px;
		border:1px solid rgba(13, 187, 84, 0.35);
	}
	#bar-menu{
		padding-top:15px;
		border-top:1px solid rgba(13, 187, 84, 0.06);
	}
	.title-bar{
		background-color:#fff;
		    padding-top: 0;
	}
	.menu-icon:focus{
		outline:none;
	}
	.menu-icon::after, .menu-icon:hover::after{
		    background: #82cd57;
    box-shadow: 0 7px 0 #82cd58, 0 14px 0 #0dbb54
	}

.media-object.stack-for-small
 .media-object-section img{
	max-width:80px;
	}
	.disclaimer .top-bar-left ul{
		margin-top:40px;
	}
	.disclaimer .top-bar-left ul li{
		display:block;
	}
}
 @media screen and (max-width:1023px){
.media-object.stack-for-small .media-object-section {
    display: block;
    padding: 0 0 1rem;
}
.media-object.stack-for-small .media-object-section {
    display: block;
    padding: 0 0 1rem;
}
 	.menu-maps, .money-text-desclaimer{
 		width:100%;
 	}
.custom-logo{
	width:120px;
 }
 header.main-nav .menu>li>a{
 	padding:0.8rem 0.5rem;
 }
}
